* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish',
        sans-serif;
}

.container {
    width: 1070px;
    display: block;
    margin: 0 auto;
}

/* Header */

.mainheader {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerlogo {
    display: flex;
    align-items: center;
}

.headerlogo img {
    width: 48px;
    margin-right: 16px;
}

.headerlogo h2 {
    font-size: 30px;
    font-weight: 800;
    color: #131318;
}

.headerlogo h2 span {
    color: #FF5400;
}

.headerlinks ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.headerlinks ul li {
    margin-left: 40px;
}

.headerlinks ul li a {
    color: #424247;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s;
}

.headerlinks ul li a:hover {
    color: #FF5400;
}