* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish',
        sans-serif;
}

.container {
    width: 1070px;
    display: block;
    margin: 0 auto;
}

/* Header */

.mainheader {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerlogo {
    display: flex;
    align-items: center;
}

.headerlogo img {
    width: 48px;
    margin-right: 16px;
}

.headerlogo h2 {
    font-size: 30px;
    font-weight: 800;
    color: #131318;
}

.headerlogo h2 span {
    color: #FF5400;
}

.headerlinks ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.headerlinks ul li {
    margin-left: 40px;
}

.headerlinks ul li a {
    color: #424247;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s;
}

.headerlinks ul li a:hover {
    color: #FF5400;
}

.menuimg {
    display: none;
}

.menuimg img {
    width: 24px;
}

/* Explore Trave */

.travelexplore {
    padding: 106px 185px;
    background: url(../img/heroareabg.png) no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 100px;
}

.travelexplorehead h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    color: white;
    margin-bottom: 24px;
}

.travelexplorehead p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-bottom: 48px;
}

.exploresearch {
    background: rgba(0, 0, 0, 0.30);
    padding: 16px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.explore1 input {
    width: 100%;
    border: none;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
}

.explore1 select {
    width: 100%;
    border: none;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
}

.explore1 button {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 8px;
    background-color: #FF5400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.explore1 button img {
    margin-right: 8px;
}

/* Popular Tour */

.populartour {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.populartourtext {
    margin-right: 50px;
}

.populartourtext h1 {
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 24px;
}

.populartourtext p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    color: rgba(19, 19, 24, 0.70);
}

.populartourtext ul {
    margin-left: 25px;
}

.populartourtext ul li {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    color: rgba(19, 19, 24, 0.70);
}

.populartourtext button {
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    padding: 12px 34px;
    color: white;
    background: #FF5400;
}

.populartourimg img {
    width: 540px;
}


/* Your Destination */

.destination {
    margin-bottom: 100px;
}

.destinationhead h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #131318;
    margin-bottom: 24px;
}

.destinationhead p {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 48px;
    color: rgba(19, 19, 24, 0.70);
}

.destination1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 24px;
}

.places {
    position: relative;
}

.places img {
    width: 100%;
}

.places p {
    font-size: 28px;
    font-weight: 800;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destination2 {
    grid-template-columns: 340px 432px 247px;
}

.destination3 {
    grid-template-columns: 432px 1fr;
}

/* Why Us */

.whyus {
    margin-bottom: 100px;
}

.whyushead h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #131318;
    margin-bottom: 24px;
}

.whyushead p {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 48px;
    color: rgba(19, 19, 24, 0.70);
}

.whyusitems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 24px;
}

.whyusitem1 {
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
}

.whyusitem1 img {
    width: 64px;
    margin-bottom: 32px;
}

.whyusitem1 h3 {
    font-size: 24px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 16px;
}

.whyusitem1 p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    color: #5A5A5D;
}

.whyusitem2 {
    background: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.20);
}

.whyusitems2 {
    display: flex;
    justify-content: center;
}

.whyusitem3 {
    background: rgba(233, 68, 68, 0.05);
    border: 1px solid rgba(233, 68, 68, 0.20);
    width: 50%;
}


/* Deals and Discounts */

.deals {
    margin-bottom: 100px;
}

.dealshead h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #131318;
    margin-bottom: 24px;
}

.dealshead p {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 48px;
    color: rgba(19, 19, 24, 0.70);
}

.dealsitem1 {
    background: url(../img/deals1.png) no-repeat;
    background-size: cover;
    padding: 56px;
    border-radius: 16px;
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-end;
}

.dealsitem2 {
    background: url(../img/deals2.png) no-repeat;
    justify-content: flex-start;
}

.dealsitem3 {
    background: url(../img/deals3.png) no-repeat;
}

.discounts {
    width: 580px;
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 16px;
}

.discounticons {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.disicon1 {
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.disicon1 img {
    width: 24px;
    margin-right: 8px;
}

.disicon1 h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    color: #5A5A5D;
}

.discounts h3 {
    font-size: 24px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 16px;
}

.discounts p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #5A5A5D;
}

.discounts h4 {
    font-size: 20px;
    font-weight: 800;
    color: #FF5400;
    margin-bottom: 24px;
}

.discounts button {
    font-size: 20px;
    font-weight: 800;
    background: #FF5400;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
}

.seemore {
    font-size: 20px;
    font-weight: 800;
    background: #FF5400;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    display: block;
    margin: 0 auto;
}

/* Simple Perfect Place */

.pefectplacetext ul li {
    color: #131318;
    font-weight: 700;
}


/* Nearby Location */

.locationsmain {
    background: url(../img/Pattren2.svg) no-repeat;
    background-size: cover;
    padding: 100px 200px;
}

.locationitems {
    background: white;
    padding: 100px 165px;
}

.locationtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.locationtitle span {
    width: 25%;
    background: #FF5400;
    height: 3px;
}

.locationtitle h1 {
    font-size: 32px;
    margin: 0 20px;
    color: #FF5400;
    letter-spacing: 12px;
    text-transform: uppercase;
}

.locationrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.locationlist {
    margin-right: 50px;
    flex: 1;
}

.locationcities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #808080;
}

.locationcities1 {
    display: flex;
    align-items: center;
}

.locationcities1 i {
    margin-right: 15px;
    color: #808080;
    font-size: 18px;
}

.locationcities1 h6 {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    color: #808080;
    margin-bottom: 0;
    font-size: 18px;
}

.locationcities p {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    color: #808080;
    margin-bottom: 0;
    font-size: 18px;
}

.locationview {
    margin-left: 50px;
    flex: 1;
}

.locationview p {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    color: #808080;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: justify;
}




/* Newsletter */

.newsletter {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.newsletterform {
    padding: 40px;
    border: 1px solid #FF5400;
    border-radius: 16px;
    margin-right: 24px;
    width: 380px;
    height: 100%;
}

.newsletterformhead {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}

.newsletterformhead h3 {
    font-size: 24px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 16px;
}

.newsletterformhead p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    color: #5A5A5D;
}

.newsletterform input {
    width: 100%;
    border: none;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    margin-bottom: 24px;
}


.newsletterform button {
    font-size: 20px;
    font-weight: 800;
    background: #FF5400;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    width: 100%;
}

.newsletterimg {
    flex: 1;
    position: relative;
}

.newsletterimg img {
    width: 100%;
}

.dicountdiv {
    position: absolute;
    right: 6px;
    bottom: 60px;
    padding: 25px 45px;
    background: #FF5400;
    color: white;
    border-radius: 16px;
    transform: rotate(-22deg);
}

.dicountdiv h5 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.dicountdiv h4 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}


/* Footer */

footer {
    background-color: rgba(19, 19, 24, 0.05);
}

.mainfooter {
    padding: 110px 150px;
}

.mainfooter .headerlogo {
    justify-content: center;
    margin-bottom: 15px;
}

.mainfooter p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    margin-bottom: 32px;
}

.footersocial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}

.footersocial img {
    height: 22px;
    margin: 0 16px;
}

.mainfooter h6 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #131318;
    margin-bottom: 0px;
}



/* Responsive */

@media screen and (max-width:600px) {

    .container {
        width: auto;
        display: block;
        margin: 0 20px;
    }

    .headerlinks {
        display: none;
    }

    .menuimg {
        display: block;
    }

    .travelexplore {
        padding: 32px 24px;
        margin-bottom: 24px;
    }

    .travelexplorehead h1 {
        font-size: 22px;
        margin-bottom: 14px;
    }

    .travelexplorehead p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .exploresearch {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .populartour {
        margin-bottom: 24px;
        flex-direction: column;
    }

    .populartourtext h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .populartourtext p {
        font-size: 14px;
        margin-bottom: 14px;
    }

    .populartourtext {
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .populartourimg {
        width: 100%;
    }

    .populartourimg img {
        width: 100%;
    }

    .destination {
        margin-bottom: 24px;
    }

    .destination1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 14px;
        margin-bottom: 14px;
    }

    .places img {
        height: 175px;
        object-fit: cover;
        border-radius: 16px;
    }

    .places p {
        font-size: 20px;
    }

    .whyus {
        margin-bottom: 24px;
    }

    .whyushead h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .whyushead p {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .whyusitems {
        grid-template-columns: repeat(1, 1fr);
        gap: 14px;
        margin-bottom: 14px;
    }

    .whyusitem3 {
        width: 100%;
    }

    .whyusitem1 {
        padding: 20px;
    }

    .whyusitem1 img {
        width: 50px;
        margin-bottom: 15px;
    }

    .whyusitem1 h3 {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .deals {
        margin-bottom: 24px;
    }

    .dealshead h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .dealshead p {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .dealsitem1 {
        padding: 16px;
        padding-top: 185px;
        background-size: cover;
    }

    .discounts {
        width: 100%;
        padding: 20px;
        border-radius: 16px;
    }

    .disicon1 h6 {
        font-size: 14px;
    }

    .discounts h3 {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .discounts p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .discounts h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .discounts button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .seemore {
        font-size: 16px;
        padding: 10px 20px;
        display: block;
        margin: 0 auto;
    }

    .locationsmain {
        background: url(../img/Pattren2.svg) no-repeat;
        background-size: cover;
        padding: 40px 20px;
    }

    .locationitems {
        background: white;
        padding: 10px;
    }

    .locationtitle span {
        display: none;
    }

    .locationrow {
        flex-direction: column;
    }

    .locationlist {
        margin-right: 0;
        flex: 1;
        width: 100%;
        margin-bottom: 20px;
    }

    .locationview {
        margin-left: 0;
        flex: 1;
    }

    .newsletter {
        margin-bottom: 24px;
        margin-top: 24px;
        flex-direction: column;
    }


    .newsletterform {
        padding: 40px;
        margin-right: 0px;
        width: 100%;
        margin-bottom: 20px;
    }

    .newsletterformhead {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .newsletterformhead h3 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .newsletterformhead p {
        font-size: 14px;
        margin-bottom: 0px;
    }

    .mainfooter {
        padding: 20px 40px;
    }






























}